<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ partial "sass.html" "styles/main.scss" }}
	<title> {{ block "title" . }} {{ partial "recurse-title.html" . }} {{ end }} </title>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	{{ with .Site.Home.OutputFormats.Get "rss" -}}
		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
	{{- end }}
	{{ partial "sass.html" "styles/baskerville.scss" }}
	{{ block "og" . -}}
		<meta property="og:title" content="{{ partial "recurse-title.html" . }}">
		<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
		{{ $ogImage := false }}
		{{ if .Params.image }}
			{{ $ogImage = dict "img" (.Page.Resources.GetMatch .Params.image.src) "alt" .Params.image.alt }}
		{{ else }}
			{{ $ogImage = dict "img" (resources.Get "images/og-homepage.png") "alt" "Screenshot of the grsc.cz homepage." }}
		{{ end }}
		{{ with $ogImage }}
			<meta property="og:image" content="{{ .img.Permalink }}">
			<meta property="og:image:alt" content="{{ .alt }}" />
		{{ end }}
		<meta property="og:url" content="{{ .Permalink }}">
		<meta property="og:description" content="{{ .Summary | truncate 120 }}">
		<meta property="og:locale" content="{{ if .Params.tags }}{{ index .Params.tags 0 }}{{ else }}en{{ end }}">
		<meta property="og:site_name" content="{{ .Site.Title }}">
		{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
		{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
		{{ range .Params.tags }}
			<meta property="og:article:tag" content="{{ . }}">
		{{ end }}
		{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
		<meta property="og:article:section" content="{{ .Section }}">
	{{ end -}}
</head>
<body>

	<div id="hyperfooter">
		{{ block "header" . }}
			<div id="header" class="section container">
				<div class="logo"> 
					<svg width=50 height=50><use href="#gslogo"/></svg> <a href="{{ .Site.BaseURL }}"> <h1> Greenscreener </h1> </a>
				</div>
				<div class="menu">
					{{ range .Site.Menus.main }}
						<a href="{{ .URL }}">
							{{ .Name }}
						</a>
					{{ end }}
				</div>
			</div>
		{{ end }}
		
		<div id="content-container" class="section container">
			{{ block "hypercontent" . }}
				
			{{ end }}
			{{ block "content" . }}
				
			{{ end }}
		</div>
	</div>
	{{ block "footer" . }}
		<div id="footer" class="section container">
			<p> Contact me: </p>
			<div id="contact" class="social">
				<a href="https://gitlab.com/Greenscreener"> {{ partial "fontawesome.html" "brands/gitlab" }} </a>
				<a href="https://github.com/Greenscreener"> {{ partial "fontawesome.html" "brands/github" }} </a>
				<a href="https://keybase.io/Greenscreener"> {{ partial "fontawesome.html" "brands/keybase" }} </a>
				<a href="https://twitter.com/GrnScrnr"> {{ partial "fontawesome.html" "brands/twitter" }} </a>
				<a href="https://t.me/GrnScrnr"> {{ partial "fontawesome.html" "brands/telegram" }} </a>
				<a href="https://reddit.com/u/GrnScrnr"> {{ partial "fontawesome.html" "brands/reddit" }} </a>
			</div>
			<p> <a href="https://gitlab.com/Greenscreener/grsc.cz">Source</a> · <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> · <a href="{{ .Site.BaseURL }}">Greenscreener</a> · <a href="/index.xml">RSS</a> </p>
		</div>
	{{ end }}

	{{ partial "gslogo.html" . }}
</body>
</html>
