{{ define "content" }}
	<div class="content">
		<h2> {{ .Title }} </h2>
		<p>
			<time datetime="{{ .PublishDate }}"> {{ .PublishDate.Format "2. 1. 2006 15:04" }} </time> 
			{{ if gt ( len .Params.tags ) 0 }}
			| Tags: 
			<span class="tags"> 
				{{ range .Params.tags }}{{ with $.Site.GetPage (printf "tags/%s" .) }}
					<a class="tag" href="{{ .Permalink }}">{{ .Title }}</a> 
				{{ end }}{{ end }}
			</span>
			{{ end }}
		</p>
		{{ .Content }}	
	</div>
{{ end }}
