{{ define "hypercontent" }}
	{{ if ne .Parent.Kind "home" }}
		<div id="about-parents">
			<div class="level is-hidden-tablet"><a class="active" href="{{ .Site.BaseURL }}">About</a></div>
			{{ partial "about-parents.html" . }}	
		</div>
	{{ end }}
{{ end }}
{{ define "content" }}
	<div id="about-content" class="content about-list">
		{{ .Content }}	
	</div>
	<div id="about-column">
		{{ range .Pages.ByWeight }}
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ end }}
	</div>
{{ end }}
