@import "bulma/sass/utilities/initial-variables.sass";

$family-primary: "Libre Baskerville", "Source Serif Pro", "Noto Serif", serif;
$text: $grey-darker;
$background: #fffffb;
$body-background-color: $background;
$primary: #058c42;
$link: $primary;
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/elements/content.sass";


a {
	text-decoration: underline;
	text-decoration-color: rgba(#fff,0);
	color: $text;
	transition: color .2s, background-color .2s, text-decoration-color .2s;
}

a:hover {
	text-decoration-color: unset;
	color: $link;
}

.content a {
	color: $link;
    &:hover {
	    color: $text;
    }
}

.fontawesome {
	display: inline-block;
	height: 1.15em;
	width: 1.15em;
	top: 0.15em;
	position: relative;
}

#hyperfooter {
	min-height: calc(100vh - 12rem);
}

#header {
	padding-bottom: 0; 
	display: flex;
	justify-content: space-between;
	@include mobile {
		flex-direction: column;
	}
	div.logo {
		display: inline-flex;
		align-items: center;
		padding: 0 .5em 1em .5em;
		border-bottom: 2px solid $text;
		h1 {
			font-size: 2em;
			@include mobile {
				font-size: 1.7em;
			}
			font-weight: bold;
			padding-left: .5em;
		} 
		svg {
			color: $primary;
		}
	}
	div.menu {
		display: flex;
		a {
			font-size: 1.2em;
			vertical-align: middle;
			text-align: center;
			padding: 1em;
		}
	}
}


#about-parents {
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	@include mobile {
		flex-direction: row;
	}
	.level {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1em;
		@include mobile {
			&::after {
				content: "/";
				padding: .55em 0;
			}
		}
		a {
			flex-grow: 1;
			font-size: 1.1em;
			padding: .5em;
			border-radius: 5px 5px 0 0;
			border-bottom: solid 1px $text;
			text-decoration: none;
			margin: 0 auto;
			text-align: center;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		    &:hover {
				background-color: rgba($grey, .05);
		    }
			@include mobile {
				display: none;
			}
			&.active {
				@include mobile {
					display: inline;
					border: none;
				}
				flex-grow: 0;
				border: solid 1px $text;
				border-bottom: none;
			}
		}
	}
}
@include tablet {
	.is-hidden-tablet {
		display: none !important;
	}
}

#about-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		padding: .5em;
		font-size: 1.5em;
	}
}

.content.about-list {
	text-align: center;
}



#footer {
	text-align: center;
	.social {
		display: flex;
		font-size: 1.5em;
		justify-content: center;
		a {
			padding: .5em;
		}
	}
}

time {
	color: $grey;
}

.page-list {
	.list-page {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&:not(:first-child) {
			border-top: dashed 1px $text;
		}
		padding: .5em;
	}
}
