<div style="display: none"> 

<svg id="gslogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264.6 264.6">
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="14.9" d="m107 119-30 30s-19-14-30-30c-11-17-1-40 7-51L38 51a124 124 0 0 0-31 82c0 68 56 124 125 124a121 121 0 0 0 94-48c12-19-2-52-44-28-41 24-64-15-35-40 11-10 19-14 19-14m-19-51c-6-10-16-25-27-32-11-6-36-1-49 9L55 36S86 6 137 7c65 2 122 57 120 126 0 14-3 22-6 33"/>
</svg>
</div>
